.wrapper{   
    background: var(--backgroundColor);
    box-shadow: var(--shadow);
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
    gap: 30px;
    padding: 10px;
}
.nav a{
    padding: 20px;
    text-decoration: none;
    border: 1px solid var(--themeColor);
    color: var(--textColor);
    border-radius: 20px;
}

.nav .active{
    background: var(--themeColor);
    color: var(--textColorActive);
}

